<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-3">
       <div class="col-8 offset-2">
    <h2>Edit your Listing</h2>
    <form method="POST" 
    action="/listings/<%= listing._id %>?_method=PUT" 
    novalidate 
    class="needs-validation"
    enctype="multipart/form-data"
    >
        <div class="mb-3">
            <lable for="title" class="form-lable">Title</lable>
            <input name="listing[title]" class="form-control" value="<%= listing.title %>" required  type="text" />
            <div class="valid-feedback">Titles Look`s Good!</div>
        </div>
        
        <div class="mb-3">
            <lable for="description" class="form-lable">Description</lable>
            <textarea name="listing[description]" class="form-control"  type="text" required ><%= listing.description %></textarea>
            <div class="invalid-feedback">Please Enter a short Describtion!</div>
        </div>
        
        <div class="mb-3">
            Original Listing Image<br>
            <img src="<%= orignalImageUrl %>" height="150px" width="180px" />
        </div>

        <div class="mb-3">
            <lable for="image" class="form-lable">Upload new Image</lable>
            <input name="listing[image]" class="form-control" type="file"  />  
        </div>
        
        <div class="row">
           <div class="mb-3 col-md-4">
            <lable for="price" class="form-lable">Price</lable>
            <input name="listing[price]" class="form-control" value="<%=listing.price %>"  required />
            <div class="invalid-feedback">Please Enter a valid Price!</div>
           </div>
           <div class="mb-3 col-md-8">
            <lable for="country" class="form-lable">Country</lable>
            <input name="listing[country]" class="form-control" value="<%=listing.country %>" type="text" required />
            <div class="invalid-feedback">Please Enter a valid Country!</div>
        </div>
        </div>

        
        <div class="mb-3">
            <lable for="location" class="form-lable">Location</lable>
            <input name="listing[location]" class="form-control" value="<%=listing.location %>" type="text" required />
            <div class="invalid-feedback">Please Enter a valid Location!</div>
        </div>
        
        <button class="btn btn-dark edit-btn mg-3">Edit</button>
        </form>
    </div>
  </div>
